<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/prism.css" />
    <link rel="stylesheet" type="text/css" href="/css/a11y-dark.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
<body>
<nav>
{% include "layouts/nav.njk" %}
</nav>
<main>
{{ content | safe }}
</main>
<script src="/js/prism.js"></script>
  </body>
</html>