{% macro renderNavListItem(entry) -%}

  <a href="{% if environment.output == "local" %}{{ entry.url | url }}{% else %}{{ site.url }}{{ entry.url | url }}{% endif %}"  {% if entry.url == page.url %} class="nav-item-active nav-item" {% else %}class="nav-item"{% endif %}>{{ entry.title }}</a>
{%- if entry.children.length -%}
 
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}

{%- endif -%}

{%- endmacro %}

{%- for entry in nav %}{{ renderNavListItem(entry) }}{%- endfor -%}







