<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
  .my-active-class {
    background-color:red;
  }
    </style>
  </head>
<body>
{% include "_layouts/nav.njk" %}

{{ content | safe }}

  </body>
</html>